<div id="nav">
    <div class="col-sm nav-align">
        <h1 id="title">Kupittaan urheiluhalli</h1>
    </div>
    <div class="col-sm nav-align">
        <a href="/">
            <span class="button">Home</span>
        </a>
        <a href="/reserve">
            <span class="button"> Varaa </span>
        </a>
        <a href="/reservations">
            <span class="button"> Varaukset </span>
        </a>
        <a href="/contacts">
            <span class="button"> Yhteystiedot </span>
        </a>
        <a href="/rules">
            <span class="button"> Säännöt </span>
        </a>
        <% if (loggedIn) { %>
        Hei, <a href="<%= `/users/${currentUser._id}`%>"><%= currentUser.fullName %></a>! 
            <a href="/logout"><span class="button"> Log out </span></a>
        <%} else {%>
     <a href="/login">
        <span class="button"> Kirjaudu</span>
    </a>
    <a href="/users/new">
        <span class="button"> Rekisteröinti </span>
    </a>
    <% } %>

</div>


</div>
</div>
