<div id="nav">
    <div class="col-sm nav-align">
        <h1 id="title">Recipe App</h1>
    </div>
    <div class="col-sm nav-align">
        <a href="/home">
            <span class="button">Home</span>
        </a>
        <a href="/reserve">
            <span class="button">Reserve</span>
        </a>
        <a href="/reservations">
            <span class="button">Reservations</span>
        </a>
        <a href="/Contacts">
            <span class="button">Contact</span>
        </a>
        <a href="/Rules">
            <span class="button">Rules</span>
        </a>
    </div>
</div>