<div class="col-sm-6">
    <h1>Tervetuloa Kupittaan Urheiluhallin nettisivuille!</h1>
    <p> Jos haluat tehdä varauksen, siirry "Varaus-sivulle".</p>
    <p> Jos haluat katsoa varauksiasi, siirry "Varaukset-sivulle".</p>
    <p> Muista myös katsoa säännöt ennen varaamista!</p>
</div>
<div class="col-sm-6">
    <img src="images/kupittaanUrheiluhalli.jpg" alt="">
</div>
   