<div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> This is website of Kupittaa's Sportshall! If you want to make a reservation, please go reserve page.</p>
    <p> If you want to look reservations, please select reservations page.</p>
    <p> If you have questions you would like to ask, see contact information on the contact page.</p>
    <p> And for last, please make yourself known our halls rules before making reservation.</p>
</div>
<div class="col-sm-6">
    <img src="images/kupittaanUrheiluhalli.jpg" alt="">
</div>
   