<div class="col-sm-6">
    <h1>Tervetuloa Kupittaan Urheiluhallin nettisivuille!</h1>
    <p> Jos haluat tehdä varauksen, kirjaudu ensiksi sisään ja siirry <a href="reserve">varaa</a>-sivulle.</p>
    <p> Jos haluat katsoa varauksia, siirry <a href="reservations">varaukset</a>-sivulle.</p>
    <p> Muista myös katsoa <a href="rules">säännöt</a> ennen varaamista!</p>
</div>
<div class="col-sm-6">
    <img src="images/kupittaanUrheiluhalli.jpg" alt="">
</div>
   