
<div class="col-sm-6">
	<h1>Kirjaudu</h1>
	<div class="form-group">
		<form action="/login" method="POST">
			<label for="inputEmail">Sähköposti</label>
			<input class="form-control" type="email" name="email" id="inputEmail" placeholder="Sähköposti" required>
			<label for="inputPassword">Salasana</label>
			<input class="form-control" type="password" name="password" id="inputPassword" placeholder="Salasana" required>
			<br>
			<button class="btn btn-lg btn-primary" type="submit">Kirjaudu</button>
		</form>
	</div>
</div>
