
<div class="col-sm-10">
    <h1>Säännöt</h1>
<p><ol><li>
Liikuntatilojen käyttövuorot varataan sähköisen tilavarausjärjestelmän kautta ennen vuoron alkua. Liikuntaseurojen vakiovuorot haetaan vuosittain touko-kesäkuussa seuraavaa alkavaa lukuvuotta varten kaupungin internetsivuilta löytyvällä hakulomakkeella. Vuorojaosta päättää liikuntatoimi.
</li><li>
Jokaisella käyttövuorolla on oltava nimettynä vähintään yksi täysi-ikäinen vastuuhenkilö, jonka tehtävänä on:<ul><li>
- hakea ja kuitata käyttöön liikuntatilan avain (niihin tiloihin, joihin mahdollisesti avain tarvitaan): vastuuhenkilö myös vastaa kuluista, mikäli avain katoaa.</li><li>
- valvoa, että näitä käyttösääntöjä ja hyviä käytöstapoja noudatetaan liikuntatiloissa</li><li>
- ilmoittaa liikuntatilojen yhteyshenkilölle, mikäli tiloissa tai välineissä on puutteita ennen vuoron alkua tai mikäli jotain rikkoontuu vuoron aikana</li><li>
- huolehtia, että kaikki välineet, varusteet ja kalusteet on viety vuoron päättymisaikaan mennessä takaisin niille merkityille asianmukaisille säilytyspaikoilleen, ellei seuraava vuoro tarvitse samoja välineitä</li><li>
- huolehtia, että tila on yleisesti siistissä kunnossa</li></ul>
</li><li>
Liikuntatiloissa saa käyttää ainoastaan sisäliikuntaan soveltuvia jalkineita, joista ei jää jälkiä lattiaan.
</li><li>
Liikuntatiloja käytetään omalla vastuulla ja jokainen on vastuussa omista tavaroistaan. Liikuntahallin pukeutumistiloissa on lukollisia säilytyslokeroita, mutta emme vastaa lokeroihin jätetyistä tavaroista. Löytötavaroita säilytetään yhden (1) kuukauden.
</li><li>
Tupakointi ja tupakkatuotteiden sekä päihteiden käyttö liikuntatilojen sisällä ja piha-alueella on kielletty.
</li><li>
Käyttämättä jäävästä vakiovuorosta on ilmoitettava kaupungin vuorovarauksista vastaavalle henkilölle viipymättä ja viimeistään kahta (2) vuorokautta ennen vuoroa. Käyttämättä jääneistä ja peruutetuista vakiovuoroista ei anneta rahallista hyvitystä.
</li><li>
Vakiovuoroihin muutoksia aiheuttavat tilaisuudet on varattava viimeistään yhtä (1) kuukautta ennen tapahtumaa. Muutoksista ilmoitetaan vakiovuorojen käyttäjille kaupungin toimesta.
</li><li>
Tapahtumiin liittyvistä yksityiskohdista, esimerkiksi kalustamisesta, on sovittava ennakkoon kaupungin liikuntatoimen kanssa.</li></ol>

<p>Lisäksi liikuntahallissa:
<ol><li>
Ennen vuoroa ja vuoron jälkeen on 15 minuuttia aikaa käyttää pukeutumistiloja.
</li><li>
Liikuntahallin juoksusuoraa saa käyttää, mikäli juoksusuora on vapaana ja sille ei ole varausta.
</li><li>
Asiattomien henkilöiden oleskelu liikuntahallin liikuntatiloissa on kielletty. Aulassa ja kahvilatiloissa saa oleskella niiden ollessa avoimena. Katsomossa saa olla vain turnausten ja tapahtumien aikana. Huoltajat saavat olla katsomassa harjoituksia.
</li><li>
Kiinteistön hallivastaava voi antaa näitä ohjeita täydentäviä kiinteistökohtaisia määräyksiä ja suosituksia.
</li><li>
Kiinteistökohtaisten ohjeiden laiminlyönnin seurauksena kiinteistön käyttövastaava voi perua vakiovuoron määräaikaisesti tai toistaiseksi tai kieltää tilojen tulevan käyttöoikeuden.
</li><li>
Kaupunki laskuttaa tilan käyttäjältä tämän aiheuttamat vahingot tai kaupungin tehtäväksi jääneet tilan järjestämisestä tai siivouksesta aiheutuneet kustannukset sekä ohjeiden laiminlyönnistä tai huolimattomuudesta aiheutuneet muut seuraamukset.
</li></ol></p>
  </div>
  