
<div class="data-form">
  <form action="/reserve/new" method="POST">
    <div class="form-group">
      <h2>Luo uusi varaus:</h2>
      <label for="inputName">Nimi:</label>
      <input class="form-control" type="text" name="name" id="inputName"  placeholder="Nimesi" autofocus required>
    </div>

    <div class="form-group">
      <label for="inputSport">Laji:</label>
      <select class="form-control" name="sport" id="inputSport" required>
        <option type="text" value="Sulkapallo">Sulkapallo</option>
        <option type="text" value="Koripallo">Koripallo</option>
        <option type="text" value="Sähly">Sähly</option>
        <option type="text" value="Tennis">Tennis</option>
        <option type="text" value="Jalkapallo">Jalkapallo</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputSport">Päivämäärä:</label>
      <input class="form-control" type="date" name="date" id="inputDate"  placeholder="Päivämäärä" required>
    </div>

    <div class="form-group">
      <label for="inputPassword">Aloitus aika</label>
      <select class="form-control" id="startTime" name="startTime" required>
        <option type="number" value="12">12</option>
        <option type="number" value="13">13</option>
        <option type="number" value="14">14</option>
        <option type="number" value="15">15</option>
        <option type="number" value="16">16</option>
        <option type="number" value="17">17</option>
        <option type="number" value="18">18</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputEmail">Lopetus aika: </label>
      <select class="form-control" id="endTime" name="endTime">
        <option type="number" value="13">13</option>
        <option type="number" value="14">14</option>
        <option type="number" value="15">15</option>
        <option type="number" value="16">16</option>
        <option type="number" value="17">17</option>
        <option type="number" value="18">18</option>
        <option type="number" value="19">19</option>
      </select>
    </div>
      <br>
      <br>
      <button type="submit" alert="Oletko varma? Varaus on sitova.">Varaa</button>
    
  </form>
</div>