
<div class="col-sm-6">
  <h1>Yhteystiedot</h1>
  <div class="contact-container">
    <div class="contact-listing">
        <table style="width:100%">
          <tr>
            <td>Vastuuhenkilö:</td>
            <td>Jorma Hyvärinen</td>
          </tr>
          <tr>
            <td>puhelinnumero:</td>
            <td>050 420 6969</td>
          </tr>
          <tr>
            <td>sähköposti:</td>
            <td>jorma.hyvarinen@turku.fi</td>
          </tr>
        </table>
    </div>
    <div class="contact-listing">
      <h5><b>Aukioloajat</b></h5>
      <table style="width:100%">
        <tr>
          <td>Ma - Su</td>
          <td>12:00 - 19:00</td>
        </tr>
      </table>
    </div>
    <div class="contact-listing">
      <h5><b>Poikkeusaukioloajat</b></h5>
      <table style="width:100%">
        <tr>
          <td>6.12.2019</td>
          <td>suljettu</td>
        </tr>
        <tr>
          <td>23.12.2019 - 26.12.2019</td>
          <td>suljettu</td>
        </tr>
        <tr>
          <td>31.12.2019 - 1.1.2020</td>
          <td>suljettu</td>
        </tr>
      </table>
    </div>                          
  </div>
</div>
<div class="col-sm-6">
    <h1>Sijaintimme</h1>
        <div class="contact-container">
            <div id="map">
                
            </div>
            <div class="contact-listing">
                    <table style="width:100%">
                        <tr>
                          <td>Katuosoite:</td>
                          <td>Tahkonkuja 5, 20520 Turku</td>
                        </tr>
                      </table>                                       
            </div>
        </div>
 </div>
</div>
</script>
<script async defer
src="http://maps.google.com/maps/api/js?sensor=true">
</script>
