
<div class="col-sm-6">
  <h1>Yhteystiedot</h1>
    <div class="contact-listing">
        <table style="width:100%">
            <tr>
              <td>Vastuuhenkilö:</td>
              <td>Jarmo Hyvärinen</td>
            </tr>
            <tr>
              <td>puhelinnumero:</td>
              <td>050 420 6969</td>
            </tr>
            <tr>
              <td>sähköposti:</td>
              <td>jarmo.hyvärinen@turku.fi</td>
            </tr>
          </table>                         
    </div>
</div>
<div class="col-sm-4">
    <h1>Sijaintimme</h1>
        <div class="location">
            <div>
                <img src="images\urheiluhalli_sijainti.JPG" alt="Kupittaan urheiluhallin sijainti">
            </div>
            <div class="location-info">
                    <table style="width:100%">
                        <tr>
                          <td>Katuosoite:</td>
                          <td>Tahkonkuja 5, 20520 Turku</td>
                        </tr>
                      </table>                                       
            </div>
        </div>
 </div>
</div>
