<div class="data-form">
  <form class="form-signin" action="/users/create" method="POST">
    <h2 class="form-signin-heading">Rekisteröidy:</h2>
    <label for="inputFirstName">Etunimi</label>
    <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="Etu" autofocus>
    <label for="inputLastName">Sukunimi</label>
    <input type="text" name="last" id="inputLastName" class="form-control" placeholder="Suku">
    <label for="inputPassword">Salasana</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Salasana" required>
    <label for="inputEmail">Sähköposti</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Sähköposti" required>
    <br />
    <button class="btn btn-lg btn-primary" type="submit">Kirjaudu</button>
  </form>
</div>
